<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="footer-contact">
                    <h2>Office Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>P.O.Box 268 – AlKhobar 3195</p>
                    <p><i class="fa fa-phone-alt"></i>+966-13 – 864 8636</p>
                    <p><i class="fa fa-envelope"></i>Shorafa20@hotmail.com</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="footer-link">
                    <h2>quick Links</h2>
                    <a href="/about">About Us</a>
                    <a href="/portfolio">Projects</a>
                    <a href="/service">Services</a>
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">Smart Space</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Developed By <a href="https://api.whatsapp.com/send?phone=0201152306375">Amer Mostafa</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/main/lib/easing/easing.min.js"></script>
<script src="/main/lib/wow/wow.min.js"></script>
<script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/main/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/main/lib/lightbox/js/lightbox.min.js"></script>
<script src="/main/lib/waypoints/waypoints.min.js"></script>
<script src="/main/lib/counterup/counterup.min.js"></script>
<script src="/main/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/main/js/main.js"></script>
</body>

</html>